.eventscard{
  border-radius:0px;
  background-color: black;


}
.eventscontent{
  margin-left:30px;
  color:white;
}
.techintcard{
  border:2px solid black;
  background-color:white;
  margin:20px;
  height:100vh;
  border-width:5px;
  border-color:black;
  border-radius:20px;
  height:400px;
  width:700px;

}
.techintellect{
  font-family:'roboto';
  font-size:36px;
  font-weight:bold;
  color:black;
  padding:20px;

}
.techintcontent{
font-size:14px;
color:black;
font-size:20px;
padding:10px;
}
.viewmorebutton{
  border-radius:6px;
  font-size:18px;
  font-family:'roboto';
  font-weight:bold;
  height:40px;
  border-width:2px;
  text-align:center;
margin-left:10px;
  width:150px;



}
.about{
  background-color:black;
  color:white;
  font-family:'roboto';
  font-weight:bold;

}
.aboutcard
{
  border:2px solid black;
  background-color:white;
  margin:20px;
color:black;
  border-width:5px;
  border-color:black;
  border-radius:20px;
  height:100%;
  width:100%;

}
.aboutcontent{
  font-weight:bold;
  margin:10px;
}
.aboutb{
  margin-left:30px;
}
